/* contact */
.contact-container{
    
    background: #fff;
    border-radius: 6px;
    padding: 60px 60px 30px 40px;
   
  }
  .contact-container .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact-container .contact-content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .contact-content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .contact-content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .contact-content .left-side .details i{
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  .contact-content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .contact-content .left-side .details .text-one,
  .contact-content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .contact-container .contact-content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .contact-content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: var(--primary-color);
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea
  {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  #message:focus{
    border: 2px solid var(--primary-color);
  }
  .right-side .input-box input:focus{
  border: 2px solid var(--primary-color);
  }
  .right-side .message-box{
    min-height: 80px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button-send{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button-send input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button-send input[type="button"]:hover{
    background: #7b3a3a;
  }
  @media (max-width: 950px) {
    body{
        background: #afafb6;
    
    }
    .boxes-kitchen-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-left: 2rem;
    grid-gap: 1rem;
    position: relative;
    min-height: 100vh;
    }
    .contact-container{
        margin: 0 25%;
    
    }
    .contact-container .contact-content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 450px) {
    .contact-container{
        margin-left: 25%;   
      
    
    }
    body{
        background: #afafb6;
    }
    .boxes-kitchen-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        }
 
          .contact-container .contact-content{
            flex-direction: column-reverse;
          }
         .contact-container .contact-content .left-side{
           width: 100%;
           flex-direction: row;
           margin-top: 40px;
           justify-content: center;
           flex-wrap: wrap;
         }
         .contact-container .contact-content .left-side::before{
           display: none;
         }
         .contact-container .contact-content .right-side{
           width: 100%;
           margin-left: 0;
         }
  }
@media only screen and (max-width:1320px){
    #navbar{
        
        position: sticky;
        color: var(--primary-color);
    }

 
}
@media only screen and (max-width:1100px){
    #navbar{
        
        position: sticky;
        color: var(--primary-color);
    }

}
@media only screen and (max-width:800px){

    
      .contact-container .contact-content{
        flex-direction: column-reverse;
        
      }
     .contact-container .contact-content .left-side{
       width: 100%;
       flex-direction: row;
       margin-top: 40px;
       justify-content: center;
       flex-wrap: wrap;
     }
     .right-side .message-box{
        height: 0;
     }
     .contact-container .contact-content .left-side::before{
       display: none;
     }
     .contact-container .contact-content .right-side{
       width: 100%;
       margin-left: 0;
    
     }
     .button-send{
        padding-left: 2rem;
     }
}
*{
  font-family: 'Montserrat', sans-serif;

  padding: 0;

  box-sizing: border-box;
 
  scroll-behavior: smooth;
}